body { margin: 0; padding: 0; }

header { width: 100%; }

main { width: 100%; }

footer { width: 100%; }

ul { margin: 0; padding: 0; list-style: none; }

nav { float: left; width: 100%; background: #000000; font-weight: bold; font-family: Verdana,sans-serif; color: #FFFFFF; }
    nav li { float: left; }





/* Smartphone */
@media only screen and (max-width: 480px) {
    nav { height: 50px; }
        nav li { width: 100%; }
}


/* Tablet */
@media only screen and (min-width: 481px) {
    nav { height: 80px; }
        nav li { width: 100%; }
}


/* Desktop */
@media only screen and (min-width: 769px) {
    nav { height: 100px; }
        nav li { width: 20%; text-align: center; }
}